.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;

  .mapboxgl-ctrl-geocoder--input {
    max-width: none;
    width: 100%;
    border: 1px solid lightgrey;
    box-shadow: none;
  }
}

.marker {
  background-image: url('world.svg');
  background-size: contain;
  width: 25px;
  height: 25px;
}
